body{
    background-color: #282c34;
    font-family: sans-serif;
}

.contact-wrapper{
  position: absolute;
  margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;  
}

.top-wrapper{
    box-sizing: border-box;
    background: #03A9F5;
    color: #fff;
    padding: 2em 2em 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
label{
    display: block;
    padding-bottom: 0.5em;
}
input{
    width: 100%;
    box-shadow: 0;
    background: transparent;
    color: #fff;
    border-width: 0 0 0.1em;
    border-color: #fff;
    border-style: solid;
}
.input{
    padding-bottom: 1em;
}
button{
    background: #fff;
      color: #222;
      text-align: center;
      padding: 0.5em;
      box-sizing: border-box;
      background: #fff;
      width: 100%;
      border: 0;
      box-shadow: none;
      border-radius: 0.25em;
      cursor: pointer;
}
      
      
    