body{
    background-color: #282c34;
    font-family: sans-serif;
}

.contact-wrap{
  position: absolute;
  margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  height: 40%;  
}

.lista{
	box-sizing: border-box;
    background: #03A9F5;
	float: right;
    text-align: center;
	min-height: 450px;
	margin: 1em;
	padding: 15px 30px 20px 0;
	width: 300px;
}

.main-header {
	background: #03A9F5;;
	color: white;
	height: 40px;
}

.main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.super-cabecera{
  position:relative;
  background: #03A9F5;;
	color: white;
}
.super-cabecera nav{
  position:relative;
  width:80%;
  max-width:1000px;
  margin:0 auto;
}
.super-cabecera nav ul{
  margin:0;
  padding:0;
  list-style:none;
}
.super-cabecera nav ul li{
  position:relative;
  display:inline-block;
  vertical-align:top;
  padding:10px 0 0 0;
  margin:0;
  width:20%;
}

.super-cabecera nav ul li span.borde{
  display:block;
  height:4px;
  background-color:#F48024;
  margin-top:10px;
}
.super-cabecera nav ul li span.texto{
  display:block;
  height:40px;
  line-height:40px;
  text-align:center;
  background-color:#CCC;
}