body{
  background-color: #282c34;
  font-family: sans-serif;
}

.row {
  display: block;
}

.contact-wrap{
  position: absolute;
  margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  height: 40%;  
}

.top-wrapper{
  box-sizing: border-box;
  background: #03A9F5;
  color: #fff;
  padding: 2em 2em 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}